.header{
    display: flex;
    justify-content: left;
    padding: 10px;
    margin: 10px;
    margin-left: 250px;
    margin-right: 250px;
}

.navButton{
    margin-left: 10px;
    border-radius: 5px;
    background-color:#e6e6e6;
    border:solid 0px;
}
.navLink{
    margin-left:15px ;
    border-radius: 5px;
    padding: 6px 25px 6px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    background-color:#e6e6e6;


}
.active{
    border-radius: 5px;
    background-color: #cccccc;
    
}